.calculatorContainer {
  margin: auto;
  max-width: 25rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid darkseagreen;
}

.calculatorContainer h2 {
  color: rgb(78, 100, 78);
}

.display {
  font-size: 25px;
  height: 40px;
  margin: 1rem;
  background-color: darkseagreen;
  border-radius: 5px;
  border: transparent;
  color: white;
  text-align: center;
  outline: none;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  width: 25%;
  height: 50px;
  margin: 0.5rem !important;
  border-radius: 5px !important;
  border: 1px solid rgb(153, 150, 150);
  transition: transform 0.2s linear;
}

button:hover {
  transform: scale(1.05);
  background-color: darkseagreen;
}

/* Media Queries for Responsive Design */

@media screen and (max-width: 768px) {
  .calculatorContainer {
    max-width: 80%;
  }

  .display {
    font-size: 5vw;
  }

  button {
    width: 20%;
  }
}
